In [1]:
%%sh
wget -N https://sagemaker-sample-data-us-west-2.s3-us-west-2.amazonaws.com/autopilot/direct_marketing/bank-additional.zip
unzip -o bank-additional.zip

Archive:  bank-additional.zip
   creating: bank-additional/
  inflating: bank-additional/bank-additional-names.txt
  inflating: bank-additional/bank-additional.csv
  inflating: bank-additional/bank-additional-full.csv

--2021-10-08 23:37:38--  https://sagemaker-sample-data-us-west-2.s3-us-west-2.amazonaws.com/autopilot/direct_marketing/bank-additional.zip
Resolving sagemaker-sample-data-us-west-2.s3-us-west-2.amazonaws.com (sagemaker-sample-data-us-west-2.s3-us-west-2.amazonaws.com)... 52.218.252.17
Connecting to sagemaker-sample-data-us-west-2.s3-us-west-2.amazonaws.com (sagemaker-sample-data-us-west-2.s3-us-west-2.amazonaws.com)|52.218.252.17|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 432828 (423K) [application/zip]
Saving to: ‘bank-additional.zip’

     0K .......... .......... .......... .......... .......... 11% 25.0K 15s
    50K .......... .......... .......... .......... .......... 23% 34.8K 11s
   100K .......... .......... .......... .......... .......... 35% 37.9K 9s
   150K .......... .......... .......... .......... .......... 47% 41.5K 7s
   200K .......... .......... .......... .......... .......... 59% 63.1K 5s
   250K .......... .......... .......... .......... .......... 70% 59.1K 3s
   300K .......... .......... .......... .......... .......... 82%  127K 2s
   350K .......... .......... .......... .......... .......... 94% 64.2K 0s
   400K .......... .......... ..                              100%  430K=8.8s

2021-10-08 23:37:49 (47.9 KB/s) - ‘bank-additional.zip’ saved [432828/432828]

In [2]:
import boto3
import sagemaker
import pandas as pd
print(boto3.__version__)
print(sagemaker
      .__version__)
print(pd.__version__)

1.18.21
2.59.6
1.3.3

In [3]:
region = boto3.Session().region_name

def resolve_sm_role():
    client = boto3.client('iam', region_name=region)
    response_roles = client.list_roles(
        PathPrefix='/',
    # Marker='string',
        MaxItems=999
    )
    for role in response_roles['Roles']:
        if role['RoleName'].startswith('AmazonSageMaker-ExecutionRole-'):
        #print('Resolved SageMaker IAM Role to: ' + str(role))
            return role['Arn']
        raise Exception('Could not resolve what should be the SageMaker role to be used')

    #resolve_sm_role()
    #role = get_execution_role()
    role = resolve_sm_role()
    return role 
role = resolve_sm_role()

In [4]:
import pandas as pd
data = pd.read_csv('./bank-additional/bank-additional-full.csv')
data[:5] # Show the first five lines

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
print(data.shape)

(41188, 21)

In [6]:
prefix = 'sagemaker/DEMO-smprocessing/input'

input_data = sagemaker.Session().upload_data(path='./bank-additional/bank-additional-full.csv', key_prefix=prefix)

In [10]:
from sagemaker.sklearn.processing import SKLearnProcessor

sklearn_processor = SKLearnProcessor(framework_version='0.20.0',
                                     role=role,
                                     instance_type='ml.m5.xlarge',
                                     instance_count=1)

In [ ]:

from sagemaker.processing import ProcessingInput, ProcessingOutput

sklearn_processor.run(code='preprocessing.py',
                      inputs=[ProcessingInput(
                        source=input_data,
                        destination='/opt/ml/processing/input')],
                      outputs=[ProcessingOutput(output_name='train_data',
                                                source='/opt/ml/processing/train'),
                               ProcessingOutput(output_name='test_data',
                                                source='/opt/ml/processing/test')],
                      arguments=['--train-test-split-ratio', '0.2']
                     )

In [25]:
preprocessing_job_description = sklearn_processor.jobs[-1].describe()

output_config = preprocessing_job_description['ProcessingOutputConfig']
for output in output_config['Outputs']:
    print(output['S3Output']['S3Uri'])

s3://sagemaker-eu-west-1-485517934642/sagemaker-scikit-learn-2021-10-08-19-01-02-561/output/train_data
s3://sagemaker-eu-west-1-485517934642/sagemaker-scikit-learn-2021-10-08-19-01-02-561/output/test_data

In [27]:
!aws s3 cp s3://sagemaker-eu-west-1-203856535362/sagemaker-scikit-learn-2021-09-25-16-27-01-743/output/train_data/train_features.csv .
#!aws s3 cp s3://sagemaker-eu-west-1-203856535362/sagemaker-scikit-learn-2021-09-25-16-27-01-743/output/train_data/train_labels.csv .

fatal error: An error occurred (404) when calling the HeadObject operation: Key "sagemaker-scikit-learn-2021-09-25-16-27-01-743/output/train_data/train_features.csv" does not exist

In [24]:
train_data/train_labels.csv .

SyntaxError: invalid syntax (96252853.py, line 1)